/*universal css */
body{
    background-color: #3D5499;
}

.container{
    background-color: #eff3ff;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
    position:relative;
}

h1{
    color:#CC3914;
}

h2,h3{
    color:#FF8240;
}

header img{
    display:block;
    clear:both;
    max-width: 100%;
    margin: 3% auto;
   
}

nav {
    background-color: #00C6FF;
    margin: 0 auto;
    text-align: center;
}

nav ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

nav li{
    background-color: #00C6FF;
    -webkit-padding: 15px;
    padding: .75rem;
    
}

nav li{
    list-style-type:none;
    
}
nav li:hover{
    background-color: #ff8240;
}

nav a{
    color: #eff3ff;
    display: block;
    text-align: center;
    text-decoration: none;
}

#gallery{
    text-align:center;
}
#gallery img {
    padding: 15px 45px;
}
/*&&&&&&&&&&&&&&&&  MOBILE   &&&&&&&&&&&&&&&&&&&*/
@media(max-width:768px){

#gallery{
    text-align:inherit;
    max-width: 100%;
}
#gallery img {
    display:block;
    clear:both;
    
    margin: 3% auto;
}

}

/*&&&&&&&&&&&&&&&&   DESKTOP  &&&&&&&&&&&&&&&&&&&*/
@media(min-width:1024px){

/*  http://codepen.io/senff/pen/LFiHp  */

nav ul{
    margin-bottom: 15px;
    padding:25px;
    text-align: center;
}

nav li {
    display: inline;
}

nav a{
    display: inline-block;
    /*padding: 10px;*/
}

    
}

