/*universal css */
body{
    background-color: #3D5499;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: #eff3ff;
    position:relative;
}

h1{
    color:#CC3914;
}

h2,h3{
    color:#FF8240;
}

header img{
    max-width: 100%;
    display:block;
    margin: 3% auto;
    clear:both;
}
nav {
    margin: 0 auto;
    background-color: #00C6FF;
}

nav ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;

}

nav li{
    background-color: #00C6FF;
    -webkit-padding: 15px;
    padding: .75rem;
    
}

nav li{
    list-style-type:none;
    
}
nav li:hover{
    background-color: #ff8240;
}

nav a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #eff3ff;
}


/*&&&&&&&&&&&&&&&&  MOBILE   &&&&&&&&&&&&&&&&&&&*/
@media(max-width:768px){

}

/*&&&&&&&&&&&&&&&&   DESKTOP  &&&&&&&&&&&&&&&&&&&*/
@media(min-width:1024px){

/*  http://codepen.io/senff/pen/LFiHp  */

nav li{
    float: left;
}
    
}

